.header-container{
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .header{
        color: #0f0;
        font-size: 24px;
    }
}